<div class="card news-navigation d-flex flex-wrap align-items-center justify-content-between">
  <h1 class="mr-2">Featured News</h1>
  <div class="d-flex news-navigation__list justify-content-between">
    <span class="active">All</span>
    <span>The Team</span>
    <span>Playoffs</span>
    <span>Injuries</span>
  </div>
</div>


<div class="row">
  <!-- Vertical Articles -->
  <app-news-article class="col-sm-12 col-lg-6"
    [title]="'MICHEAL BRYAN WAS CHOSEN AGAIN AS BEST PLAYER WITH 45 POINTS'"
    [date]="'August 23rd 2015'"
    [author]="'James Spiegel'"
    [views]="2369"
    [category]="constants.CATEGORIES.team"
    [likes]="530"
    [comments]="18"
    [liked]="true">
  </app-news-article>
  <app-news-article class="col-sm-12 col-lg-6"
    [title]="'THE NEW ECO FRIENDLY STADIUM WON A LEAFY AWARD IN 2016'"
    [date]="'August 23rd 2015'"
    [author]="'Jessica Hoops'"
    [category]="constants.CATEGORIES.team"
    [views]="2369"
    [likes]="530"
    [liked]="true"
    [comments]="18">
  </app-news-article>
  <app-news-article class="col-sm-12 col-lg-6"
    [title]="'THE SWARM TEAM IS APPEARING IN L.A. BEACH FOR CHARITY'"
    [date]="'August 23rd 2015'"
    [author]="'James Spiegel'"
    [category]="constants.CATEGORIES.team"
    [views]="2369"
    [likes]="530"
    [comments]="18">
  </app-news-article>
  <!-- END - Vertical Articles -->

  <!-- Small Articles  -->
  <div class="col-sm-12 col-lg-6">
    <div class="small-articles">
      <app-news-article
        [title]="'THE NEW ECO FRIENDLY STADIUM WON A LEAFY AWARD IN 2016'"
        [date]="'August 23rd 2015'"
        [category]="constants.CATEGORIES.team"
        [type]="constants.DISPLAY_TYPES.small">
      </app-news-article>
      <app-news-article
        [title]="'THE NEW ECO FRIENDLY STADIUM WON A LEAFY AWARD IN 2016'"
        [date]="'August 23rd 2015'"
        [category]="constants.CATEGORIES.playoffs"
        [type]="constants.DISPLAY_TYPES.small">
      </app-news-article>
      <app-news-article
        [title]="'THE NEW ECO FRIENDLY STADIUM WON A LEAFY AWARD IN 2016'"
        [date]="'August 23rd 2015'"
        [category]="constants.CATEGORIES.playoffs"
        [type]="constants.DISPLAY_TYPES.small">
      </app-news-article>
    </div>
  </div>
  <!-- END - Small Articles -->

  <!-- Short Vertical Articles -->
  <app-news-article class="col-sm-12 col-lg-6"
    [title]="'Marc Johnson has a tibia fracture and is gonna be out'"
    [date]="'August 23rd 2015'"
    [author]="'James Spiegel'"
    [category]="constants.CATEGORIES.injuries"
    [views]="2369"
    [likes]="530"
    [comments]="18"
    [type]="constants.DISPLAY_TYPES.short_vertical">
  </app-news-article>
  <app-news-article class="col-sm-12 col-lg-6"
    [title]="'Jay Porks is only 24 points away from breaking the record'"
    [date]="'August 23rd 2015'"
    [author]="'James Spiegel'"
    [category]="constants.CATEGORIES.team"
    [views]="2369"
    [likes]="530"
    [comments]="18"
    [type]="constants.DISPLAY_TYPES.short_vertical">
  </app-news-article>
  <app-news-article class="col-sm-12 col-lg-6"
    [title]="'The team is starting a new power breakfast regimen'"
    [date]="'August 23rd 2015'"
    [author]="'James Spiegel'"
    [category]="constants.CATEGORIES.team"
    [views]="2369"
    [likes]="530"
    [comments]="18"
    [type]="constants.DISPLAY_TYPES.short_vertical">
  </app-news-article>
  <app-news-article class="col-sm-12 col-lg-6"
    [title]="'Cheerleader tryouts will start next Friday at 5pm'"
    [date]="'August 23rd 2015'"
    [author]="'James Spiegel'"
    [category]="constants.CATEGORIES.team"
    [views]="2369"
    [likes]="530"
    [comments]="18"
    [type]="constants.DISPLAY_TYPES.short_vertical">
  </app-news-article>
  <!-- END - Short Vertical Articles -->

</div>

<div class="card news-navigation d-flex flex-wrap align-items-center justify-content-between">
  <h1 class="mr-2">Latest News</h1>
  <div class="d-flex news-navigation__list justify-content-between">
    <span>All</span>
    <span class="active">The Team</span>
    <span>Playoffs</span>
    <span>Injuries</span>
  </div>
</div>

<div class="row">
  <!-- Horizontal Articles -->
  <app-news-article class="col-12"
    [title]="'THE TEAM IS TAKING A SUMMER VACATION ON WOODY VALLEY'"
    [date]="'August 16th 2015'"
    [author]="'Jessica Hoops'"
    [views]="2369"
    [category]="constants.CATEGORIES.team"
    [likes]="530"
    [comments]="18"
    [type]="constants.DISPLAY_TYPES.horizontal">
  </app-news-article>
  <app-news-article class="col-12"
    [title]="'JEREMY RITTERSEN WAS CALLED TO BE IN THE NATIONAL TEAM'"
    [date]="'August 16th 2015'"
    [author]="'Jessica Hoops'"
    [views]="2369"
    [category]="constants.CATEGORIES.team"
    [likes]="530"
    [comments]="18"
    [type]="constants.DISPLAY_TYPES.horizontal">
  </app-news-article>
  <app-news-article class="col-12"
    [title]="'SWARM NEW STADIUM IS GONNA BE READY IN SEPTEMBER 2017'"
    [date]="'August 16th 2015'"
    [author]="'Jessica Hoops'"
    [views]="2369"
    [category]="constants.CATEGORIES.team"
    [likes]="530"
    [comments]="18"
    [type]="constants.DISPLAY_TYPES.horizontal">
  </app-news-article>
  <app-news-article class="col-12"
    [title]="'THE CHAMPIONSHIP FINAL WILL BE PLAYED IN SAN FRANSISCO'"
    [date]="'August 16th 2015'"
    [author]="'Jessica Hoops'"
    [views]="2369"
    [category]="constants.CATEGORIES.team"
    [likes]="530"
    [comments]="18"
    [type]="constants.DISPLAY_TYPES.horizontal">
  </app-news-article>
  <!-- END - Horizontal Articles -->
</div>
