@import '../../../styles/variables';

app-news-article, .small-articles {
  margin-bottom: 1.5rem;
}
.small-articles {
  border: 1px solid rgb(224, 224, 224);
}

.news-navigation {
  padding: 1.5rem 2rem;
  border-left: .4rem solid $yellow;
  margin-bottom: 1rem;
  flex-direction: row;
  h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 1rem;
  }
  &__list {
    min-width: 280px;
    span {
      text-transform: uppercase;
      font-size: .8rem;
      color: $light-gray;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        color: $dark-blue;
      }
      &.active {
        color: $dark-blue;
      }
    }
  }
}
