<h3>Popular News</h3>

<article>
  <app-news-category
    [category]="constants.CATEGORIES.injuries">
  </app-news-category>
  <h4>Marc Johnson has a tibia fracture and is gonna be out</h4>
  <h5>August 23rd, 2015</h5>
</article>

<article>
  <app-news-category
    [category]="constants.CATEGORIES.team">
  </app-news-category>
  <h4>Jay Porks is only 24 points away from breaking the record</h4>
  <h5>August 23rd, 2015</h5>
</article>

<article>
  <app-news-category
    [category]="constants.CATEGORIES.team">
  </app-news-category>
  <h4>The team is starting a new power breakfast regimen</h4>
  <h5>August 23rd, 2015</h5>
</article>