@import '../../../styles/variables';

.footer {
  background-color: $dark-gray;
  padding-top: 5rem;
  .content {
    max-width: 1600px;
    margin: 0 auto;
    .logo, app-contact-info, app-popular-news, app-instagram-widget {
      margin-bottom: 3rem;
    }
    .logo {
      margin-top: 4rem;
    }
  }
}

.navigation {
  background-color: $yellow;
  padding-bottom: 3rem;
}
.navbar {
  background-color: $dark-gray;
  padding: 0;
  width: 900px;
  margin: 0 auto;
  position: relative;
}
.nav-link, .dropdown-item {
  color: white;
  text-transform: uppercase;
  font-size: .9rem;

  &.active, &:hover {
    color: $yellow;
  }
}
.nav-link {
  height: 100%;
}
.nav-item {
  padding: 0 1.2rem;
  height: 4rem;
}
.nav-item {
  line-height: 3rem;
}
.navbar-brand {
  margin: 1rem;
}
.navbar-nav {
  width: 100%;
  justify-content: center;
}
#left-slanted-edge {
  position: absolute;
  bottom: 0;
  left: -2.5rem;
  border-left: 2.5rem solid transparent;
  border-top: 4rem solid $dark-gray;
}

#right-slanted-edge {
  position: absolute;
  bottom: 0;
  right: -2.5rem;
  border-right: 2.5rem solid transparent;
  border-top: 4rem solid $dark-gray;
}
