<div class="footer">

  <div class="content row justify-content-center">
    <div class="d-none d-xl-block col-xl-3 logo logo--lg"></div>
    <app-contact-info class="col-xl-3 col-lg-4 col-md-4 col-sm-6"></app-contact-info>
    <app-popular-news class="col-xl-3 col-lg-4 col-md-4 col-sm-6"></app-popular-news>
    <app-instagram-widget class="col-xl-3 col-lg-4 col-md-4 col-sm-12"></app-instagram-widget>
  </div>

  <div class="navigation d-none d-lg-block">
    <nav class="navbar navbar-expand">
      <div id="left-slanted-edge"></div>
      <div id="right-slanted-edge"></div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Statistics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">The Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shop</a>
        </li>
      </ul>
    </nav>
  </div>

</div>
