<div class="header w-100">

  <!-- Header in desktop view -->
  <div class="d-none d-lg-block header--full">
    <div class="d-flex">
      <div class="logo logo--md mr-5"></div>
      <div class="w-100">
        <app-middle-menu></app-middle-menu>
        <div class="position-relative">
          <app-main-menu></app-main-menu>
          <div id="slanted-edge"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Header in mobile view -->
  <app-main-menu class="d-lg-none"></app-main-menu>

</div>
