@import '../../../styles/variables';

.header {
  background-color: $dark-gray;
  height: 100%;
}
.header--full {
  max-width: 1400px;
  margin: 0 auto;
}

#slanted-edge {
  position: absolute;
  bottom: 0;
  left: -2.5rem;
  height: 0;
  border-left: 2.5rem solid transparent;
  border-bottom: 4rem solid $gray;
}
