<div id="carousel" class="carousel slide" data-ride="carousel">

  <!-- Content for each slider item (shown when active) -->
  <div class="carousel-inner">
    <div class="carousel-item">
      <div class="carousel-item__content">
        <h1>{{ carouselItems[0].title }}</h1>
        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        <p class="d-none d-sm-block">{{ carouselItems[0].description }}</p>
        <button class="read-more-btn">Read More <span class="plus">+</span></button>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="carousel-item__content">
        <h1>{{ carouselItems[1].title }}</h1>
        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        <p class="d-none d-sm-block">{{ carouselItems[1].description }}</p>
        <button class="read-more-btn">Read More <span class="plus">+</span></button>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-item__content">
        <h1>{{ carouselItems[2].title }}</h1>
        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        <p class="d-none d-sm-block">{{ carouselItems[2].description }}</p>
        <button class="read-more-btn">Read More <span class="plus">+</span></button>
      </div>
    </div>
  </div>
  <!-- END - Content for each slider item -->

  <div class="carousel-options d-none d-lg-flex w-100">

    <!-- Arrow controls for slider in desktop view -->
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!-- END - Arrow controls for slider in desktop view -->

    <!-- Slider items to choose from  -->
    <div class="carousel-indicators d-flex justify-content-between">
      <div data-target="#carousel" data-slide-to="0" class="carousel-indicator">
        <app-news-category
          [category]="constants.CATEGORIES.team">
        </app-news-category>
        <h3>{{ carouselItems[0].title }}</h3>
        <h5>{{ carouselItems[0].date }}</h5>
        <app-news-stats
          [views]="carouselItems[0].views"
          [likes]="carouselItems[0].likes"
          [comments]="carouselItems[0].comments">
        </app-news-stats>
      </div>
      <div data-target="#carousel" data-slide-to="1" class="carousel-indicator active">
        <app-news-category
          [category]="constants.CATEGORIES.team">
        </app-news-category>
        <h3>{{ carouselItems[1].title }}</h3>
        <h5>{{ carouselItems[1].date }}</h5>
        <app-news-stats
          [views]="carouselItems[1].views"
          [likes]="carouselItems[1].likes"
          [comments]="carouselItems[1].comments">
        </app-news-stats>
      </div>
      <div data-target="#carousel" data-slide-to="2" class="carousel-indicator">
        <app-news-category
          [category]="constants.CATEGORIES.team">
        </app-news-category>
        <h3>{{ carouselItems[2].title }}</h3>
        <h5>{{ carouselItems[2].date }}</h5>
        <app-news-stats
          [views]="carouselItems[2].views"
          [likes]="carouselItems[2].likes"
          [comments]="carouselItems[2].comments">
        </app-news-stats>
      </div>
    </div>
    <!-- END - Slider items to choose from  -->

  </div>

  <!-- Arrow controls for slider in mobile view -->
  <div class="carousel-controls d-lg-none d-md-block d-sm-block">
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- END - Arrow controls for slider in mobile view -->

</div>
