@import '../../../styles/variables';

.carousel {
  background-color: $dark-blue;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.carousel-inner {
  height: 70vh;
  @media screen and (max-width: $break-md) {
    height: 100vh;
  }
}

// Container for carousel indicators and controls
.carousel-options {
  background-color: $black;
  position: relative;
}

// Carousel indicators allow users to choose which item is active
.carousel-indicators {
  width: 100%;
  margin: 0;
  bottom: 0;
  position: static;
  z-index: 1;

  &.active {
    color: transparent;
  }
}
.carousel-indicators .active {
  background-color: $black !important;
}
.carousel-indicator {
  background-color: $black;
  width: 30%;
  text-align: center;
  padding: 3rem;
  border-top: 0.5rem solid transparent;
  cursor: pointer;
  opacity: .3;

  h3 {
    font-size: 1.2rem;
    margin: 1rem;
  }

  &.active {
    border-color: $yellow;
    opacity: 1;
    transition: ease-in .25s;
  }
}

// Carousel controls allow user to go to next and previous items
.carousel-controls {
  position: absolute;
  bottom: 12rem;
  width: 100%;

  @media screen and (max-width: $break-md) {
    top: 50%;
    bottom: 100%;
  }
}
.carousel-control-prev,
.carousel-control-next {
  color: white;
  opacity: 1;
  border: .1rem solid gray;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  z-index: 2;
  top: calc(50% - 1.5rem);
  position: absolute;

  &:hover {
    border-color: $yellow;
  }
}
.carousel-control-prev {
  left: calc(30% + 3px);
  @media screen and (max-width: $break-md) {
    left: 1rem;
  }
}
.carousel-control-next {
  right: calc(30% + 3px);
  @media screen and (max-width: $break-md) {
    right: 1rem;
  }
}

// Carousel item is shown when item is currently selected
.carousel-item {
  margin: 0 auto;
  padding: 7rem;
  text-align: center;
  &__content {
    max-width: 45rem;
    margin: 0 auto;
    position: relative;
    left: -12rem;
    @media screen and (max-width: $break-lg) {
      max-width: 100%;
      position: static;
    }
  }
  h1 {
    color: white;
    text-transform: uppercase;
  }
  .fa-star {
    color: $yellow;
    margin: 2rem 1rem;
  }
  p {
    margin: 1rem;
  }
  .read-more-btn {
    margin: 1rem;
    background-color: transparent;
    border: .1rem solid white;
    cursor: pointer;
    width: 11rem;

    .plus {
      color: $yellow;
    }
  }
  .read-more-btn:hover {
    border-color: $yellow;
  }
}
