<h3>Contact Info</h3>

<p class="my-5">
  Lorem ipsum dolor sit amet, consectetur adipisi nel elit, sed do eiusmod tempor incididunt ut labore et dolore.
</p>


<div class="row my-4">
  <i class="fas fa-basketball-ball col-3"></i>
  <div>
    <h5 class="text-white">Contact us</h5>
    <h5>info@swarm.com</h5>
  </div>
</div>

<div class="row my-4">
  <i class="fas fa-tshirt col-3"></i>
  <div>
    <h5 class="text-white">Join our team!</h5>
    <h5>tryouts@swarm.com</h5>
  </div>
</div>

<div class="row social-media">
  <div class="row align-items-center">
    <i class="fab fa-facebook-f"></i>
    <h5>facebook</h5>
  </div>
  <div class="row align-items-center">
    <i class="fab fa-twitter"></i>
    <h5>twitter</h5>
  </div>
  <div class="row align-items-center">
    <i class="fab fa-google-plus-g"></i>
    <h5>google +</h5>
  </div>
</div>
