@import '../../../styles/variables';


.fa-basketball-ball, .fa-tshirt {
  color: $yellow;
  font-size: 2rem;
}
.fa-facebook-f, .fa-twitter, .fa-google-plus-g {
  color: white;
  margin-right: .5rem;
  margin-left: .7rem;
}
.social-media {
  margin-top: 2rem;
  flex-wrap: wrap;
  h5 {
    margin: 0;
  }
  div {
    min-width: 120px;
    margin: 1rem 0;
  }
}
h5 {
  font-size: 0.6rem;
}
