// colors
$yellow:        #ffdc11;
$light-gray:    #9a9da2;
$gray:          #292c31;
$dark-gray:     #1e2024;
$blue:          #1e78dd;
$sky-blue:      #51c8ea;
$dark-blue:     #31404b;
$violet:        #9a66ca;
$black:         #0e0f10;

// media query breakpoints
$break-xs:      575px;
$break-sm:      767px;
$break-md:      991px;
$break-lg:      1199px;
