@import 'variables';
@import '~bootstrap/scss/bootstrap.scss';

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #edeff4;
}
p {
  font-family: 'Source Sans Pro', sans-serif;
  color: $light-gray;
}
h1 {
  color: $dark-blue;
}
h3 {
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
}
h4 {
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  font-size: .85rem;
}
h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: .7rem;
  text-transform: uppercase;
  font-weight: normal;
  color: $light-gray;
}
article {
  h1 {
    color: $dark-blue;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
}
.bg-yellow {
  background-color: $yellow;
}
.bg-violet {
  background-color: $violet;
}
.bg-orange {
  background-color: orange;
}
.badge {
  padding: 5px 10px;
  border-radius: .1rem;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

button {
  background-color: $blue;
  padding: .7rem 1.5rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  border: 0;
  border-radius: .1rem;
  font-size: .8rem;
  cursor: pointer;
  &:hover {
    filter: brightness(110%);
  }
}

.logo {
  background: url('../assets/swarm-logo-highlighted.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  &--sm {
    height: 5rem;
    width: 5rem;
  }
  &--md {
    height: 10rem;
    width: 10rem;
  }
  &--lg {
    width: 12rem;
    height: 12rem;
  }
}

.navbar, input {
  font-family: 'Montserrat', sans-serif;
}

// add width utilities not provided by Bootstrap
// example: w-10, w-20, ..., w-90
$sizes: map-merge(
  (
    10: 10%,
    20: 20%,
    30: 30%,
    40: 40%,
    60: 60%,
    70: 70%,
    80: 80%,
    90: 90%
  ),
  $sizes
);
@each $size, $length in $sizes {
  .w-#{$size} { width: $length !important; }
}

.text-muted {
  color: $light-gray !important;
}
