@import '../../../styles/variables';

h5 {
  margin: 0;
  color: $dark-blue;
}
.progress {
  width: 100%;
  height: 10px;
}
.progress-left {
  transform: rotate(180deg);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 2rem;
  .progress-bar {
    background-color: $yellow;
  }
}
.progress-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-right: 2rem;
  .progress-bar {
    background-color: $sky-blue;
  }
}
