<div class="d-flex align-items-center">
  <h5 [class.text-muted]="leftScore < rightScore">{{ leftScore }}</h5>
  <div class="progress progress-left">
    <div class="progress-bar" [ngClass]="'w-' + leftWidth" role="progressbar"></div>
  </div>
  <div class="progress progress-right">
    <div class="progress-bar" [ngClass]="'w-' + rightWidth" role="progressbar"></div>
  </div>
  <h5 [class.text-muted]="rightScore < leftScore">{{ rightScore }}</h5>
</div>
