@import '../../../../styles/variables';

// common card sections
.card-title {
  color: $dark-blue;
  text-transform: uppercase;
}
.card-body {
  border-bottom: 1px solid whitesmoke;
}
.card-footer {
  background-color: white;
}
.card-img-top {
  background-color: $dark-blue;
}

// special css for each display type
.article__small {
  height: 11.6rem;
  background-color: white;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  .card-title {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .card-text {
    line-height: 1.2rem;
    height: 2.4rem;
    overflow: hidden;
  }
}
.article__vertical {
  height: 35rem;
  app-news-category {
    position: relative;
    top: 1.3rem;
    left: 1.3rem;
  }
  .card-img-top {
    height: 17rem;
    position: relative;
  }
  .add-button {
    position: absolute;
    bottom: -22px;
    right: 15px;
  }
  .card-title {
    font-size: 1.3rem;
  }
  p.card-text {
    line-height: 1.5rem;
    height: 7.5rem;
    overflow: hidden;
  }
}
.article__short-vertical {
  height: 30rem;
}
.article__horizontal {
  .right-column {
    height: inherit;
  }
  .card-title {
    font-size: 1.3rem;
    margin-top: 1rem;
  }
  .card-text {
    margin-top: 1rem;
  }
  .add-button {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  @media screen and (max-width: $break-xs) {
    .card-footer {
      flex-wrap: wrap;
    }
    .author {
      margin-bottom: 1rem;
    }
  }
}

// additional elements
.author {
  &__name {
    margin: 0 10px;
  }
  &__photo {
    width: 25px;
    height: 25px;
    background-color: $yellow;
  }
}
.add-button {
  width: 45px;
  height: 45px;
  cursor: pointer;
  i {
    font-size: 25px;
    &:hover {
      transform: rotate(90deg);
      transition: transform .2s;
    }
  }
}

.fade-bottom:after {
  content: "";
  position: absolute;
  bottom: 3.5rem;
  width: calc(100% - 2.5rem);
  padding: 0;
  height: 2rem;
  background: linear-gradient(rgba(255, 255, 255, 0), white 50%);
}
