<!-- Small articles -->
<div *ngIf="type === constants.DISPLAY_TYPES.small" class="article__small">
  <article>
    <app-news-category [category]="category"></app-news-category>
    <h2 class="card-title">{{ title }}</h2>
    <h5>{{ date }}</h5>
    <p class="card-text">{{ description }}</p>
  </article>
</div>
<!-- END - Small articles -->

<!-- Vertical and short vertical articles -->
<div *ngIf="type === constants.DISPLAY_TYPES.vertical
            || type === constants.DISPLAY_TYPES.short_vertical"
  class="card article__vertical fade-bottom"
  [ngClass]="type === constants.DISPLAY_TYPES.short_vertical ? 'article__short-vertical' : ''">
  <div class="card-img-top">
    <div class="add-button rounded-circle d-flex align-items-center justify-content-center"
      [ngClass]="'bg-' + categoryColor">
      <i class="fas fa-plus text-white"></i>
    </div>
    <app-news-category [category]="category"></app-news-category>
  </div>
  <article class="card-body">
    <h5>{{ date }}</h5>
    <h2 class="card-title">{{ title }}</h2>
    <p class="card-text" *ngIf="type === constants.DISPLAY_TYPES.vertical">
      {{ description }}
    </p>
  </article>
  <div class="card-footer d-flex align-items-center justify-content-between">
    <div class="author d-flex align-items-center">
      <div class="author__photo rounded-circle"></div>
      <h5 class="author__name">{{ author }}</h5>
    </div>
    <app-news-stats
      [views]="views"
      [likes]="likes"
      [comments]="comments"
      [liked]="liked">
    </app-news-stats>
  </div>
</div>
<!-- END - Vertical and short vertical articles -->

<!-- Horizontal articles -->
<div *ngIf="type === constants.DISPLAY_TYPES.horizontal" class="card article__horizontal">
  <div class="d-flex">
    <div class="card-img-top w-50">
      <div class="add-button rounded-circle d-flex align-items-center justify-content-center"
        [ngClass]="'bg-' + categoryColor">
        <i class="fas fa-plus text-white"></i>
      </div>
    </div>
    <div class="w-50 right-column d-flex flex-column justify-content-between">
      <article class="card-body">
      <app-news-category [category]="category"></app-news-category>
        <h2 class="card-title">{{ title }}</h2>
        <h5>{{ date }}</h5>
        <p class="card-text">{{ description }}</p>
      </article>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <div class="author d-flex align-items-center">
          <div class="author__photo rounded-circle"></div>
          <h5 class="author__name">{{ author }}</h5>
        </div>
        <app-news-stats
          [views]="views"
          [likes]="likes"
          [comments]="comments"
          [liked]="liked">
        </app-news-stats>
      </div>
    </div>
  </div>
</div>
<!-- END - Horizontal articles -->
