<div class="instagram-widget">
  <h3>Instagram Widget</h3>
  <div class="d-flex flex-wrap image-grid">
    <img/>
    <img/>
    <img/>
    <img/>
    <img/>
    <img/>
  </div>
  <button>Follow our Instagram</button>
</div>