@import '../../../styles/variables';

.instagram-widget {
  @media screen and (max-width: $break-sm) {
    text-align: center;
  }
  @media screen and (max-width: $break-xs) {
    text-align: left;
  }
}
.image-grid {
  margin: 2.5rem 0;
  @media screen and (max-width: $break-sm) {
    justify-content: center;
  }
  @media screen and (max-width: $break-xs) {
    width: 210px;
  }
}
.image-grid img {
  width: 90px;
  height: 90px;
  background-color: gray;
  margin: .2rem;
  @media (max-width: $break-sm) {
    width: 60px;
    height: 60px;
  }
}
