<div class="section game-results">
  <div class="section-title card">Last Game Results</div>
  <div class="section-subtitle card">Game Statistics</div>
  <div class="section-body card">
    <h4>Assists</h4>
    <app-progress-bar [leftScore]="22" [rightScore]="36"></app-progress-bar>
    <h4>Rebounds</h4>
    <app-progress-bar [leftScore]="35" [rightScore]="18"></app-progress-bar>
    <h4>Steals</h4>
    <app-progress-bar [leftScore]="14" [rightScore]="24"></app-progress-bar>
  </div>
</div>

<div class="section">
  <div class="section-title card">Our Newsletter</div>
  <div class="section-body card">
    <h4>Subscribe now!</h4>
    <p>
      Receive the latest news from the team: game reminders,
      new acquisitions and professional match results.
    </p>
    <div class="d-flex">
      <input type="text" placeholder="Your email address..."/>
      <button type="button">SEND</button>
    </div>
  </div>
</div>
