@import '../../../styles/variables';

.section {
  margin-bottom: 2rem;
}
.section-title, .section-subtitle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.section-title {
  border-left: .4rem solid yellow;
  padding: 1.3rem;
}
.section-subtitle {
  border-top: 0;
  background-color: whitesmoke;
  font-size: .9rem;
  text-align: center;
  padding: .5rem;
}
.section-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
  padding: 1.5rem;
}
h4 {
  color: $dark-blue;
}
button {
  background-color: $light-gray;
}
input {
  padding: .7rem;
}
app-progress-bar {
  margin: 1rem 0;
}
.game-results {
  h4 {
    text-align: center;
    font-size: .8rem;
    margin: 0;
    padding-top: .5rem;
  }
}
