<div class="middle-menu d-flex justify-content-end">

  <div class="d-lg-none d-xl-block search-bar">
    <input type="text" placeholder="Enter your search here...">
    <i class="fas fa-search"></i>
  </div>

  <div class="d-flex justify-content-between right-column">
    <div class="row">
      <i class="fas fa-basketball-ball col-3"></i>
      <div>
        <h5 class="text-white">Contact us</h5>
        <h5>info@swarm.com</h5>
      </div>
    </div>

    <div class="row">
      <i class="fas fa-tshirt col-3"></i>
      <div>
        <h5 class="text-white">Join our team!</h5>
        <h5>tryouts@swarm.com</h5>
      </div>
    </div>

    <div class="row">
      <i class="fas fa-shopping-bag col-3"></i>
      <div>
        <h5 class="text-white">Your Bag (8 Items)</h5>
        <h5>$256,30</h5>
      </div>
    </div>
  </div>

</div>
