@import '../../../styles/variables';

.middle-menu {
  margin: 2rem 0;
}
.search-bar, .right-column {
  padding: 5px;
}

// Search bar in the left column
.search-bar {
  width: 100%;
  margin-right: 2rem;
  position: relative;

  input {
    width: 100%;
    background-color: $gray;
    color: darkgray;
    border: $gray;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: .7rem;
  }
  .fa-search {
    position: absolute;
    right: 1.3rem;
    color: $yellow;
    top: .9rem;
  }
}

// Right column includes contact info and shopping cart
.right-column {
  margin-left: 2rem;

  h5 {
    font-size: 0.6rem;
  }
  .fa-basketball-ball, .fa-tshirt, .fa-shopping-bag {
    color: $yellow;
    font-size: 2rem;
  }
  .row {
    width: 15rem;
  }
}
