@import '../../../styles/variables';

.main {
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (max-width: $break-sm) {
    flex-wrap: wrap;
    max-width: 100%;
    padding: 1rem;
  }
}

app-news, app-sidebar {
  margin: 0 .5rem;
}

app-sidebar {
  width: 380px;

  @media screen and (max-width: $break-sm) {
    width: 100%;
  }
}

app-news {
  width: 766px;
  max-width: 766px;

  @media screen and (max-width: $break-sm) {
    order: 1;
    width: 100%;
  }
}
