<div class="news-stats d-flex align-items-center justify-content-center">
  <i class="far fa-eye"></i>
  <p>{{ views }}</p>
  <i class="far fa-heart" [class.liked]="liked"></i>
  <p>{{ likes }}</p>
  <i class="far fa-comment"></i>
  <p>{{ comments }}</p>
</div>