@import '../../../styles/variables';

.navbar {
  background-color: $gray;
  padding: 0;
}
.nav-link, .dropdown-item {
  color: white;
  text-transform: uppercase;
  font-size: .9rem;

  &.active, &:hover {
    color: $yellow;
    border-color: $yellow;
  }
}
.nav-link {
  border-bottom: .2rem solid transparent;
  height: 100%;
}
.nav-item {
  padding: 0 1.2rem;
  height: 4rem;
}
.nav-item {
  line-height: 3rem;
}
.navbar-brand {
  margin: 1rem;
}
.dropdown-menu {
  background-color: $gray;
  padding: 0;
}
.dropdown-item {
  background-color: $gray;
  &:hover {
    background-color: $dark-gray;
  }
}
.navbar-toggler {
  margin: 1rem;
}
.nav-item.bar {
  text-align: center;
  width: 4.2rem;
  background-color: $yellow;

  .nav-link {
    color: $gray;
    &:hover {
      color: $gray;
    }
  }
}
.social-media-link {
  padding: 0 .3rem;
}

ul.navbar-nav {
  width: 100%;
  justify-content: space-between;
}
