<nav class="navbar navbar-expand-lg">
  <div class="logo logo--sm navbar-brand d-lg-none"></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
          role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Features
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Feature 1</a>
          <a class="dropdown-item" href="#">Feature 2</a>
          <a class="dropdown-item" href="#">Feature 3</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Statistics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">The Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Shop</a>
      </li>

      <!-- Social media links -->
      <!-- TODO: Add tooltip -->
      <li class="nav-item d-none d-xl-block social-media-link">
        <a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
      </li>
      <li class="nav-item d-none d-xl-block social-media-link">
        <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
      </li>
      <li class="nav-item d-none d-xl-block social-media-link mr-3">
        <a class="nav-link" href="#"><i class="fab fa-google-plus-g"></i></a>
      </li>
      <!-- END - Social media links -->

      <!-- TODO: Open sidebar on click -->
      <li class="nav-item bar d-none d-lg-block">
        <a class="nav-link" href="#"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
  </div>
</nav>
